*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}
.elemento_pai{
    position: relative;
    background-color: rgb(214, 206, 206);
    width: 1100px;
    height: 540px;
    margin: auto;
    margin-top: 25px;
}
.texto{
    padding-left: 435px;
    padding-right: 20px;
    padding-top: 40px;
    text-align: justify;
}
.texto h2{
    text-align: center;
}
.relativa_salmao{
    background-color: rgb(238, 106, 106);
    width: 400px;
    height: 520px;
    position: absolute;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.absoluta_cinzclaro{
    background-color: rgb(214, 206, 206);
    width: 380px;
    height: 80px;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 20px;
    text-align: center;    
}

.absoluta_img{
    background-image: url(../img/images.jpg);
    background-repeat: no-repeat;
    margin-top: 110px;
    position: absolute;
    z-index: 2;
    width: 340px;
    height: 410px;
    margin-left: 40px;
}


